<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="morse_0" value="-----" />
    <add key="morse_1" value=".----" />
    <add key="morse_2" value="..---" />
    <add key="morse_3" value="...--" />
    <add key="morse_4" value="....-" />
    <add key="morse_5" value="....." />
    <add key="morse_6" value="-...." />
    <add key="morse_7" value="--..." />
    <add key="morse_8" value="---.." />
    <add key="morse_9" value="----." />
    <add key="morse_A" value=".-" />
    <add key="morse_B" value="-..." />
    <add key="morse_C" value="-.-." />
    <add key="morse_D" value="-.." />
    <add key="morse_E" value="." />
    <add key="morse_F" value="..-." />
    <add key="morse_G" value="--." />
    <add key="morse_H" value="...." />
    <add key="morse_I" value=".." />
    <add key="morse_J" value=".---" />
    <add key="morse_K" value="-.-" />
    <add key="morse_L" value=".-.." />
    <add key="morse_M" value="--" />
    <add key="morse_J" value=".---" />
    <add key="morse_K" value="-.-" />
    <add key="morse_L" value=".-.." />
    <add key="morse_M" value="--" />
    <add key="morse_N" value="-." />
    <add key="morse_O" value="---" />
    <add key="morse_P" value=".--." />
    <add key="morse_Q" value="--.-" />
    <add key="morse_R" value=".-.." />
    <add key="morse_S" value="...." />
    <add key="morse_T" value="-" />
    <add key="morse_U" value="..-" />
    <add key="morse_V" value="...-" />
    <add key="morse_W" value=".--" />
    <add key="morse_X" value="-..-" />
    <add key="morse_Y" value="-.--" />
    <add key="morse_Z" value="--.." />

    <add key="tonefreq" value="523" />
    <add key="dotlength" value="100" />
    <add key="dashlenght" value="300" />
    <add key="inter" value="100" />
    <add key="lgap" value="200" />
    <add key="wgap" value="400" />

    <add key="ipremote" value="169.254.32.133" />
    <add key="portremote" value="78" />
    <add key="serialrate" value="9600" />
  
  </appSettings>
<connectionStrings><add name="Entities" connectionString="metadata=res://*/BangDienModel.csdl|res://*/BangDienModel.ssdl|res://*/BangDienModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=602;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>