<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="APIKey" value="BAA626FCB4BC94F6AE3AFF78FFBE03"/>
    <add key="SecretKey" value="3D73A5D0170C33C87F8BD0D9BDF713"/>
    <add key="SMSContent" value="Spa thông báo bạn có buổi hẹn với chúng tôi vào lúc "/>
  </appSettings>
<connectionStrings><add name="QLSpaEntities" connectionString="metadata=res://*/SpaModel.csdl|res://*/SpaModel.ssdl|res://*/SpaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=QLSpa;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>