<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="tessdata" value="D:\QLBDX\QLBDX\bin\Debug\tessdata\" />
    <add key="SECRET_KEY" value="sk_e15ff75142e70e7f3eb1b159" />
  </appSettings>
<connectionStrings><add name="QLBaiDoXeEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=QLBaiDoXe;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>